# Ignore everything...
*
# ... except preferences
!.gitignore
!Packages/
Packages/*
!Packages/User/
Packages/User/*
!Packages/User/*sublime-settings*
!Packages/CocoCola/
!Packages/CocoCola/colorscheme/
!Packages/CocoCola/colorscheme/Coco\ Cola.tmTheme
!Packages/XML/
!Packages/XML/Snippets/
!Packages/XML/Snippets/long-tag.sublime-snippet